@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body {
    background: #f0f0f0; /* Lighter background color */
    font-family: 'Courier Prime', monospace;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 100px auto 0; /* Reduced margin for a more compact look */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
    animation: pulse 2s infinite; /* Pulsing animation */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Scale up in the middle */
    }
    100% {
        transform: scale(1);
    }
}

.stopwatch h1 {
    margin-top: 30px; /* Reduced margin for a more compact title */
    font-size: 56px; /* Slightly smaller font size */
    font-weight: 400; /* Medium font weight for better readability */
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Add space above buttons */
}

.buttons img {
    width: 60px; /* Standardized button size */
    margin: 0 15px; /* Reduced margin */
    cursor: pointer;
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.buttons img:hover {
    animation: bounce 0.5s; /* Bounce effect on hover */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Start and end at original position */
    }
    50% {
        transform: translateY(-10px); /* Move up slightly */
    }
}

.buttons img:nth-child(2) {
    width: 90px; /* Larger central button */
}
